*******************************************************************************
***  エメラルド・ドラゴン　環境設定ファイル  (for EMEDRA_patch.x v0.99)     ***
*******************************************************************************

* ・行の先頭が'*'の物は、コメント行です。

*******************************************************************************
* ●戦闘高速化
*
* 　[ひらがな]をロックしておくか、[SHIFT]を押すと、戦闘が高速になります。
* 　[ひらがな]をロックしたまま[SHIFT]を押した場合は、従来通りです。
*
* 0 = 高速化しない
* 1 = 高速化する
* 2 = 高速化するが、起動時に[ひらがな]をロックしない
*
EX_BATTLE = 1

*******************************************************************************
* ●移動（スクロール）高速化
*
* 　[全角]をロックしておくか、[SHIFT]を押すと、移動速度が２倍になります。
* 　両方押した場合は、４倍になります。
*
* 0 = 高速化しない
* 1 = 高速化する
* 2 = 高速化するが、起動時に[全角]をロックしない
*
EX_SCROLL = 1

*******************************************************************************
* ●どこでもマップ表示
*
* 　マップを持っていない場所でも、建物／洞窟の中などでも、[HELP]でマップが
* 表示できます。
*
* 0 = どこでもマップを使わない
* 1 = どこでもマップを使う
*
EX_MAP = 1

*******************************************************************************
* ●ほぼ最強装備でスタート
*
* 　ゲームスタート時のアトルシャンとタムリンの装備が、ほぼ最強になります。
* 　ただし、このゲームの性格上、そんなに楽になる訳ではありません。
*
* 0 = 通常装備でスタート
* 1 = ほぼ最強装備でスタート
*
EX_SUPER = 1

*******************************************************************************
* ●経験値２倍
*
* 　戦闘で得られる経験値が、２倍になります。
*
* 0 = 通常通り
* 1 = ２倍
*
EX_EXP = 1

*******************************************************************************
* ●戦闘メッセージ表示時間
*
* 　戦闘中のメッセージの表示時間を指定します。
*
* 1～255 の数値
*
FTIME = 1

*******************************************************************************
* ●インストールパスの個別設定
*
* 　ハードディスクにインストールしたパスを、個別設定したい時に記述します。
* 　パス名の最後には、'\'を付けないで下さい。
* ┌───────────────────────────────────┐
* │通常、この設定をする必要はありません。　　　　　　　　　　　　　　　　│
* │無設定の場合は、自動的に EMEDRA_patch.x を起動したパスとなるからです。│
* └───────────────────────────────────┘
*PATH SYS    =  C:\EMEDRA\SYSDATA	システム関連データ
*PATH MAP    =  C:\EMEDRA\MAPDATA	マップデータ
*PATH MOVER  =  C:\EMEDRA\MOVER		地上キャラデータ
*PATH MUSIC  =  C:\EMEDRA\MUSIC		音楽データ
*PATH TALK   =  C:\EMEDRA\TALKDATA	トークデータ
*PATH FIGHT  =  C:\EMEDRA\FIGHTDATA	戦闘キャラデータ
*PATH VISUAL =  C:\EMEDRA\VISDATA	ビジュアルデータ
*PATH USER   =  C:\EMEDRA\USERDATA	セーブデータ


